/*
*
*	HIGH STRUCTURE CSS
*
*
*/


html, body{
	height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
	overflow: hidden;
}
canvas { min-width: 100%; min-height: 100% }



/**********
	WHAT IS IMPORTANT HERE?
*********/


