/*scss*/
/*
break-small is a break point when layout
should spit down, i.e. when all components
has reach the minimun size. 
(used in "responsive.scss")
*/
/*********************
TEST STYLE
***********************/
.frame-slider,
.frame-small,
.frame-big,
.wrap,
.row {
  height: 100%; }

.header {
  background-color: #acd;
  height: 100px; }

.frame-small {
  background-color: #555;
  /* -- */ }

.frame-big {
  background-color: #aaa;
  /* -- */ }

.frame-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background-color: gray; }

#settings {
  display: block;
  position: relative;
  box-sizing: border-box;
  float: left; }

#search-table {
  display: block;
  position: relative;
  box-sizing: border-box;
  float: left; }

div {
  -border: 1px solid red;
  /* -- */ }

p {
  text-align: center;
  /* -- */ }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h3 {
  text-transform: uppercase;
  color: #B93636; }

section {
  width: 90%;
  border-bottom: 1px dashed gray; }

body {
  padding: 0 15px 0 15px;
  /* -- */
  background-color: #F9F9F9;
  font: 100% "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: gray; }
