/*scss*/
/*********************
TEST STYLE
***********************/
.wrap {
  height: 100%; }

.side-frame {
  width: 400px; }

.full-height {
  height: 100%; }

div {
  border: 1px solid red; }

p {
  text-align: center; }

/*********************
	VARIABLES
**********************/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

h3 {
  text-transform: uppercase;
  color: #B93636; }

section {
  width: 90%;
  border-bottom: 1px dashed gray; }

body {
  background-color: #F9F9F9;
  font: 100% "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: gray; }

paper-material {
  padding: 20px 20px;
  margin: 10px 10px; }

.box-shadow, .container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.center, .container {
  margin: 0 auto 0 auto; }

.container {
  background-color: #FFFFFF;
  padding: 20px;
  width: 90%; }
