<!DOCTYPE html>
<html>
  <head>
    <title>Ferilskrá</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="../elements/mitt-element.html">
    <link rel="stylesheet" href="../styles/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="vertical layout center">
        <section>
          <h3>Ferilskrá 1</h3>
          <p>Hér mun koma rosa texti um mig</p>
        </section>
        <section>
          <h3>Ferilskrá 2</h3>
          <p>Hér mun koma rosa texti um mig</p>
        </section>
        <section>
          <h3>Ferilskrá 3</h3>
          <p>Hér mun koma rosa texti um mig</p>
        </section>
        <mitt-element></mitt-element>
      </div>
    </div>
  </body>
</html>