<!DOCTYPE html>
<html>
  <head>
    <title>Ferilskrá</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/paper-material/paper-material.html">
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="stylesheet" href="../styles/css/main.css">
  </head>
  <body>
    <div class="wrap">
      <div class="horizontal layout full-height">
        <div class="side-frame">
          <p>halló</p>
        </div>
        <div class="flex-2">
          <p>REST</p>
        </div>
      </div>
    </div>
    <!--paper-material(elevation="1")
    section
    	h3 Ferilskrá 1
    	p Hér mun koma rosa texti um mig
    section
    	h3 Ferilskrá 2
    	p Hér mun koma rosa texti um mig
    section
    	h3 Ferilskrá 3
    	p Hér mun koma rosa texti um mig	
    
    -->
    <!--paper-material(elevation="1")
    section
    	h3 Ferilskrá 1
    	p Hér mun koma rosa texti um mig
    section
    	h3 Ferilskrá 2
    	p Hér mun koma rosa texti um mig
    section
    	h3 Ferilskrá 3
    	p Hér mun koma rosa texti um mig
    -->
  </body>
</html>