extends layout

block index
	div.container

		div(class="vertical layout center")
			section
				h3 Ferilskrá 1
				p Hér mun koma rosa texti um mig
			section
				h3 Ferilskrá 2
				p Hér mun koma rosa texti um mig
			section
				h3 Ferilskrá 3
				p Hér mun koma rosa texti um mig
			mitt-element