extends layout

block index
	div.wrap
		div.row
			div.col-md-8.frame-big
				div.row
					div.col-md-12
						div.header
							p TEST-HEADER

						p hallo

			div.col-md-4.frame-small
				div.frame-slider
					span ha
				div
					p halal
						

	//paper-material(elevation="1")
		section
			h3 Ferilskrá 1
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 2
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 3
			p Hér mun koma rosa texti um mig	
	
	//paper-material(elevation="1")
		section
			h3 Ferilskrá 1
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 2
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 3
			p Hér mun koma rosa texti um mig
