extends layout

block index
	//div.wrap
	div.container-fluid
		div.row
			div.col-sm-12.col-md-8.frame-big.yel
				div.frame-head
				div.content
					p Bjarni
					p Þorgeir 
					p halló
					p halló

			div.col-sm-12.col-md-4.frame-small
				div.hidden-xs.hidden-sm.slider
				div.view
					div.frame-head
					div.my-table.gre
						p halló
						p halló
						p hall