extends layout

block index
	div.wrap
		div(class="horizontal layout full-height")
			div.side-frame
				p halló
			div.flex-2
				p REST


	//paper-material(elevation="1")
		section
			h3 Ferilskrá 1
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 2
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 3
			p Hér mun koma rosa texti um mig	
	
	//paper-material(elevation="1")
		section
			h3 Ferilskrá 1
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 2
			p Hér mun koma rosa texti um mig
		section
			h3 Ferilskrá 3
			p Hér mun koma rosa texti um mig