doctype html
html
	head
		title Ferilskrá
		
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		//script(src="../bower_components/webcomponentsjs/webcomponents-lite.min.js")

		//link(rel="import", href="../elements/mitt-element.html")
		//link(rel="import" href="../bower_components/paper-material/paper-material.html")
		//link(rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html")

		link(rel="stylesheet" href="../styles/css/style.css")

	body
		block index
