/*scss*/
@import 'styles';


//@import '../bower_components/bootstrap/dist';

/*==========
  TEST STYLE
  ==========*/
.blu{ background-color: blue; 	}
.red{ background-color: red; 		}
.yel{ background-color: yellow; }
.gre{ background-color: green; 	}
/*=================*/




/*===========
  GRID LAYOUT
  ===========*/
.row{
	margin:0;
}
.row{
	display:block;
	position: relative;
	height:100%;
}

.row{
	height:100% !important;
}


.frame-small,
.frame-big
{
	margin:0;
	padding:0;
	height:100%;
}


.frame-small{
	//make 12 columns with padding equal zero
	@include make-sm-column(12, 0);
	@include make-md-column(4, 0);
	background-color: #555; /* -- */
}

.frame-big{
	@include make-sm-column(12, 0);
	@include make-md-column(8, 0);
	background-color: #111; /* -- */
}


.frame-small,
.frame-big,
.wrap,
.row /* -- */
{
	//min-height: 100%;
}

.wrap{
	min-height:100%;
}


.container-fluid{
	padding:0;
}

.slider{
	@extend .hidden-xs;
	@extend .hidden-sm;
	float:left;
	width:$slider-min-width;
	height:100px;
	background-color: $font-color;
}

.frame-head,
.content,
.table{
	width:100%;
}

.table{ 
	height:100%;
}

.content{
	background-color: yellow;
}

.frame-head{
	background-color: $color-header;
	height: $frame-header-height; /* -- */
}


.view{
	//width of view will be width size 
	//of the parent minus slider width
	@include calc("width","100% - #{$slider-min-width}");
	float:right;
}

.my-table,
.content{
	//padding:30px;
}




div{
	-border: 1px solid red; /* -- */
}

p{
	font-size:40px;
	text-align:center;
	margin:0;
}


//--------------------


html,body{
	height: 100%;
  width: 100%;
  margin: 0;
	padding: 0;
}

body{
	//padding: 0 15px 0 15px;/* -- *///15px -> size of chrome scroll slider
	background-color: $main-backg-color;
	font: 100% $font-stack;
	font-size: $font-size;
	color: $font-color;
}


