/*scss*/
@import './_variables';



/*********************
TEST STYLE
***********************/


.frame-slider,
.frame-small,
.frame-big,
.wrap,
.row /* -- */
{
	height: 100%;
}


.header{
	background-color: $color-header;
	height: $frame-header-height;
}


.frame-small{
	//padding: $frame-slider-min-width; 
	background-color: #555; /* -- */
}

.frame-big{
	background-color: #aaa; /* -- */
	//max-width: ;
	//width: 100%;
	//min-width: $frame-big-min-width;
}

.frame-slider{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width:$frame-slider-min-width;
	background-color: $font-color;
}

#settings{
	display: block;
	position: relative;
	box-sizing:border-box;
	float: left;
}

#search-table{
	display: block;
	position: relative;
	box-sizing:border-box;
	float: left;
	//display: inline-block;
}












div{
	-border: 1px solid red; /* -- */
}

p{
	text-align: center; /* -- */
}



//--------------------


html,body{
	height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;

	//overflow: hidden;
}

h3{
	text-transform: uppercase;
	color:$color-old-red;
}

section{
	width: 90%;
	border-bottom: 1px dashed gray;
}

body{
	padding: 0 15px 0 15px;/* -- *///15px -> size of chrome scroll slider
	background-color: $main-backg-color;
	font: 100% $font-stack;
	font-size: $font-size;
	color: $font-color;
}
