/*********************
	VARIABLES
**********************/
$main-backg-color: #F9F9F9;
$color-old-red:#B93636;
$font-backg-color: #FFFFFF;
$font-stack: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
$font-size: 1em;
$font-color: gray;